---
import MainLayout from "../layouts/MainLayout.astro";
import Map from "../components/Map.astro";
---

<MainLayout 
  title="Contatti" 
  description="Hai delle domande? Mettiamoci in contatto! Ci trovi in ufficio dal Lunedì al Venerdì dalle 09:00-12:30 e dalle 14:30-19:00, il Sabato dalle 09:00-12:30"
  ogTitle="Contatti"
  ogDescription="Hai delle domande? Mettiamoci in contatto! Ci trovi in ufficio dal Lunedì al Venerdì dalle 09:00-12:30 e dalle 14:30-19:00, il Sabato dalle 09:00-12:30"
  ogType='website'
  ogUrl='/contatti'
>
<div class="flex flex-col mx-10 lg:mx-20 mt-20 mb-32">  
  <h3 class="font-text font-bold mb-2 text-sm">HAI DELLE DOMANDE?</h3>
  <h1 class="font-headings text-3xl mb-5">Contattaci</h1>
  <p>Ci trovi in ufficio dal Lunedì al Venerdì dalle 09:00-12:30 e dalle 14:30-19:00, il Sabato dalle 09:00-12:30.</p>
<form data-netlify="true" netlify-honeypot name="Pagina di Contatto" method="POST" class="mt-16 flex flex-col items-center xl:mx-5 gap-10">
  <p class="hidden">
    <label>
      Don’t fill this out if you’re human: <input name="bot-field" /> <!-- Catch Bots -->
    </label>  
  </p>
  <div class="flex flex-col lg:flex-row items-center justify-between w-full gap-10">
    <input required type="text" name="Nome" placeholder="*Nome" class="py-2 px-3 rounded-md border-2 border-gray-400 w-full" />
    <input type="text" name="Cognome" placeholder="Cognome" class="py-2 px-3 rounded-md border-2 border-gray-400 w-full" />
  </div>
  <div class="flex flex-col lg:flex-row items-center justify-between w-full gap-10">
    <input required type="email" name="Email" placeholder="*Email" class="py-2 px-3 rounded-md border-2 border-gray-400 w-full" />
    <input required type="text" name="Telefono" placeholder="*Cellulare" class="py-2 px-3 rounded-md border-2 border-gray-400 w-full" />
  </div>
  <textarea name="Messaggio" id="text-message" rows="7" class="col-span-2 py-2 px-3 rounded-md border-2 border-gray-400 w-full" placeholder="Scrivi il tuo messaggio qui"></textarea>
  <div class="flex flex-col sm:flex-row items-center gap-10">
    <div class="flex items-start justify-center gap-3">
      <input type="checkbox" name="Informativa" checked="checked" class="checkbox checkbox-secondary" />
      <p class="text-xs max-w-[250px]">*Compilando e inviando questo modulo di richiesta, autorizzo il trattamento dei miei dati personali ai sensi dell’attuale normativa e confermo di aver preso visione dell’informativa privacy.</p>
    </div>
    <button type="submit" class="bg-white text-secondary border-secondary hover:bg-secondary hover:text-white hover:border-secondary flex items-center justify-center font-semibold py-2 px-3 rounded-lg border-2 duration-200">Invia</button>
  </div>
</form>
</div>
<Map />
</MainLayout>