---
export const prerender = true;
import { sanityClient } from "sanity:client";
import Button from "./Button.astro";

const categories = await sanityClient.fetch(`*[_type == 'locations'] {
  title,
  "slug": slug.current,
  "zone": zone -> {title, "slug": slug.current}
}`)
---

<div class="my-10">
  <div class="divider my-1" />
  <ul class="flex gap-5 overflow-x-scroll py-2 carousel">
    {
      categories.map((category: any) => {
        return (
          <li class="carousel-item">
            <Button link={`/immobili/zone/quartieri/` + category.slug} text={category.title} />
          </li>
        )
      })
    }
  </ul>
  <div class="divider my-1" />
</div>