---
import Image from "astro/components/Image.astro";
import logo from "../assets/logo.png"
import SubMenu from "./SubMenu.astro";
---

<nav>
<SubMenu />
  <div class="navbar bg-base-100">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            aria-label="Hamburger Menu">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16" />
          </svg>
        </div>
        <ul 
          tabindex="0"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
          <li><a href="/" aria-label="Home">Home</a></li>
          <li><a href="/about" aria-label="About">About</a></li>
          <li><a href="/immobili" aria-label="Immobili">Immobili</a></li>
          <li>
            <span class="hover:bg-transparent cursor-text" aria-label="Servizi">Servizi</span>
            <ul class="p-2">
              <li><a href="/servizi/valuta" aria-label="Valuta Immobile">Valuta Immobile</a></li>
              <li><a href="/servizi/proponi" aria-label="Proponi Immobile">Proponi Immobile</a></li>
              <li><a href="/servizi/richiedi" aria-label="Richiesta Specifica">Richiesta Specifica</a></li>
            </ul>
          </li>
          <li><a href="/contatti" aria-label="Contatti">Contatti</a></li>
        </ul>
      </div>
      <a href="/" class="mx-4 text-xl">
        <Image src={logo} alt="Logo Fine Living" width={60} height={60} format="avif" quality="mid" />
      </a>
    </div>
    <div class="navbar-end hidden lg:flex">
      <ul class="menu menu-horizontal px-1 font-medium">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/immobili">Immobili</a></li>
        <li>
          <details>
            <summary>Servizi</summary>
            <ul class="menu dropdown-content bg-base-100 rounded-box z-[1] w-fit p-2 shadow ">
              <li><a href="/servizi/valuta" aria-label="Valuta Immobile">Valuta Immobile</a></li>
              <li><a href="/servizi/proponi" aria-label="Proponi Immobile">Proponi Immobile</a></li>
              <li><a href="/servizi/richiedi" aria-label="Richiesta Specifica">Richiesta Specifica</a></li>
            </ul>
          </details>
        </li>
        <li><a href="/contatti">Contatti</a></li>
      </ul>
    </div>
  </div>
</nav>
