---
import { Icon } from "astro-icon/components";
---

<div class="flex max-w-full items-center">
  <div class="bg-secondary flex-grow">
    <ul class="flex text-white gap-3 sm:gap-7 p-3 justify-evenly sm:justify-end mr-2">
      <li><a href=""><Icon name='mdi:instagram' width={25} height={25} /></a></li>
      <li><a href=""><Icon name='mdi:facebook' width={25} height={25} /></a></li>
      <li><a href=""><Icon name='mdi:whatsapp' width={25} height={25} /></a></li>
      <li><a href=""><Icon name='material-symbols:mail' width={25} height={25} /></a></li>
    </ul>
  </div>
  <div class="bg-primary text-white">
    <a href="tel:3478429161" class="font-text flex items-center gap-2 justify-center p-3"><Icon name="material-symbols:call" width={25} height={25} />+39 347 842 9161</a>
  </div>
</div>
